(flashgo_site) {
  root * /srv
  encode zstd gzip
 
  handle /apk {
    redir {$APK_DOWNLOAD_URL} 302
  }

  file_server

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  try_files {path} /index.html
}

flash-go.cybernovatech.space {
  import flashgo_site
}

http://62.171.186.246 {
  import flashgo_site
}
